name: scaffold

on:
  workflow_dispatch:
  pull_request:
    paths:
      - .github/workflows/scaffold.yaml
      - .github/generate-*.sh
      - .kubebuilder-version
  push:
    branches:
      - main
    paths:
      - .github/workflows/scaffold.yaml
      - .github/generate-*.sh
      - .kubebuilder-version

jobs:
  project:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
      - run: bash .github/generate-project.sh
      - uses: int128/update-generated-files-action@d3f65c7154e5db6d92286d52217476f469239629 # v2.80.0

  doc:
    needs: project
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: bash .github/generate-doc.sh
      - uses: int128/update-generated-files-action@d3f65c7154e5db6d92286d52217476f469239629 # v2.80.0

  release:
    needs: project
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: bash .github/create-release-if-not-exists.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
